@CHARSET "ISO-8859-1";

body {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.footer {
	/*background-color: blue;
	color: white;*/
	text-align: center;
}

.ui-datatable-even {
    background: none;
    background-color: #555555;
}

.ui-datatable-odd {
    background: none;
    background-color: #606060;
}

.ui-fieldset .ui-fieldset-legend {
	background-color: transparent;
	border-color: transparent;
	padding: 0em 0.5em !important;
}

.north {
	display: table
}

.header {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
}

.menu {
	padding-left: 5em;
	vertical-align: middle;
	display: table-cell;
}

.ui-selectonebutton .ui-button .ui-button-text {
    padding: 0.3em 0.9em;
}

.title-box {
    font-size: 1.4em !important;
}

.ui-panelgrid TBODY TD, .ui-panelgrid TR {
    border-style: none;
    padding: 1px 2px;
}

.no-header table thead tr {
    display: none;
}

.unitunes-toolbar {
	text-align: center;
}

.ui-toolbar-group-left {
	float: none !important;
}

.ui-toolbar-group-left div {
	vertical-align: middle;
}

.media-box {
	width: 200px;
	text-align: center !important;
}

.media-box .ui-panel-footer {
	text-align: center !important;
}

.media-box .ui-widget-content {
	/*height: 250px;*/
}












